/*
########   #######  ########  ##    ##
##     ## ##     ## ##     ##  ##  ##
##     ## ##     ## ##     ##   ####
########  ##     ## ##     ##    ##
##     ## ##     ## ##     ##    ##
##     ## ##     ## ##     ##    ##
########   #######  ########     ##
*/
body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*
   ###
  ## ##
 ##   ##
##     ##
#########
##     ##
##     ##
*/
a {
  text-decoration: none;
}

/*
##     ## ########    ###    ########  ######## ########
##     ## ##         ## ##   ##     ## ##       ##     ##
##     ## ##        ##   ##  ##     ## ##       ##     ##
######### ######   ##     ## ##     ## ######   ########
##     ## ##       ######### ##     ## ##       ##   ##
##     ## ##       ##     ## ##     ## ##       ##    ##
##     ## ######## ##     ## ########  ######## ##     ##
*/
/*Закрашиваем шапку*/
.main-header {
  width: 100%;
  min-height: 545px;
  background: #eeeeee;
}

/* создаём флекс главного меню, внутренний отступ делам 49px,
чтобы не гадать с боковыми отступами ставлю justify-content по центру,
нижний добавим по необходимости после верстки слайдера*/
.main-nav {
  display: flex;
  flex-wrap: wrap; /* защита от переполнения */
  flex-direction: row;
  justify-content: center;

  min-width: 1160px;
  padding-top: 49px;

  font-weight: 500;
  text-transform: uppercase;
  line-height: 30px;
}
/*это обёртка для меню без логотипа*/
.main-nam__wrapper {
  display: flex;
  min-width: 663px;
}
/*ещё один контейнер для меню без логотипа,
в нём уже делаем внутренний отступ от логотипа,
однако это число не 202, которое можно увидеть на макете,
откуда же берётся 138? */
.main-nav__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/*убираем стили для списков*/
.main-nav__list,
.main-nav__cart {
  list-style: none;
}
/*делаем логотив слегка серее при нажатии*/
.main-header__logo img:active {
  opacity: 0.3;
}
/*поведение ссылок на наведение, фокус, нажатие и в обычном состоянии*/
.main-nav__list a,
.main-nav__cart a {
  color: #000000;
}
.main-nav__list a:hover,
.main-nav__cart a:hover,
.main-nav__list a:focus,
.main-nav__cart a:focus {
  color: #fb565a;
}
.main-nav__list a:active,
.main-nav__cart a:active {
  opacity: 0.3;
}
.main-nav__item {
  padding: 0px;
  margin: 0px;
}

.main-nav-item--active {
  padding-bottom: 3px;
  border-bottom: 2px solid #fb565a;
}

/*делаем пиктограмму корзины всегда светлой*/
.main-nav__item img{
  opacity: 0.35;
  top: 5px;
  padding-right: 21px;
}
/*тут уже пошла магия*/
.main-nav__list {
  display: flex;
  width: 438px;
  justify-content: space-between;
  padding-top: 10px;
}

/*это что вообще за отступы?*/
.main-nav__cart {
  display: flex;
  margin-left: 138px;
  padding-top: 10px;
}

/*
 ######  ##       #### ########  ######## ########
##    ## ##        ##  ##     ## ##       ##     ##
##       ##        ##  ##     ## ##       ##     ##
 ######  ##        ##  ##     ## ######   ########
      ## ##        ##  ##     ## ##       ##   ##
##    ## ##        ##  ##     ## ##       ##    ##
 ######  ######## #### ########  ######## ##     ##
*/
.slider-gallegy {
  list-style: none;
}

.slider__item h3 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider__item p {
  color: #283136;
}

.slider {
  background-color: #eeeeee;
}
.slider__item a{
  width: 240px;
  height: 50px;
  background-color: #fb565a;
  border: none;

  text-align: center;
  vertical-align: middle;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.slider__item a:hover,
.slider__item a:focus {
  background-color: #e74246;
}

.slider__item a:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;

  color: rgba(255, 255, 255, 0.3);
}

.slider-switch {
  list-style: none;
}
/*
   ###    ########  ##     ##    ###    ##    ## ########    ###     ######   ########
  ## ##   ##     ## ##     ##   ## ##   ###   ##    ##      ## ##   ##    ##  ##
 ##   ##  ##     ## ##     ##  ##   ##  ####  ##    ##     ##   ##  ##        ##
##     ## ##     ## ##     ## ##     ## ## ## ##    ##    ##     ## ##   #### ######
######### ##     ##  ##   ##  ######### ##  ####    ##    ######### ##    ##  ##
##     ## ##     ##   ## ##   ##     ## ##   ###    ##    ##     ## ##    ##  ##
##     ## ########     ###    ##     ## ##    ##    ##    ##     ##  ######   ########
*/
.advantage {
  display: flex;
  width: 100%;
}

.advantage__wrapper {
  width: 1100px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.advantage__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}

.advantage__item {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-top: 80px;
}
.advantage__item:first-child{
  padding-left: 0px;
}
.advantage__item h3 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.advantage__item p {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  width: 250px;
}
/*закрасим фон картинок если вдруг не загрузится*/
.advantage__img {
  background-color: #000000;
  width: 300px;
  height: 146px;
}

.advantage__item a{
  background-color: #fb565a;
  border: none;
  width: 160px;
  height: 50px;
  border-radius: 2px;
  text-align: center;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.advantage__item a:hover,
.advantage__item a:focus {
  background-color: #e74246;
}

.advantage__item a:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.advantage__item:nth-of-type(2) a{
  background-color: #00ca74;
}

.advantage__item:nth-of-type(2) a:hover,
.advantage__item:nth-of-type(2) a:focus{
  background-color: #00bc6c;
}

.advantage__item:nth-of-type(2) a:active{
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #00aa62;

  color: rgba(255, 255, 255, 0.3);
}

.advantage__item:nth-of-type(3) a {
  background-color: #efc84a;
}

.advantage__item:nth-of-type(3) a:hover
.advantage__item:nth-of-type(3) a:focus {
  background-color: #eab534;
}

.advantage__item:nth-of-type(3) a:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}
/*
   ###    ########   #######  ##     ## ########
  ## ##   ##     ## ##     ## ##     ##    ##
 ##   ##  ##     ## ##     ## ##     ##    ##
##     ## ########  ##     ## ##     ##    ##
######### ##     ## ##     ## ##     ##    ##
##     ## ##     ## ##     ## ##     ##    ##
##     ## ########   #######   #######     ##
*/
.about h3 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about p {
  color: #283136;
}

.about .list__title {
  font-weight: 700;
  text-transform: uppercase;
}
.about__list {
  list-style: none;
}

.stats__list {
  list-style: none;
}
.stats h3 {
  font-weight: 700;
  text-transform: uppercase;
}

.stats h4 {
  font-size: 45px;
  line-height: 10px;
}

.stats__item p {
  color: #283136;
  line-height: 18px;
}
/*
########  #### ##     ## #### ########  ######## ########
##     ##  ##  ##     ##  ##  ##     ## ##       ##     ##
##     ##  ##  ##     ##  ##  ##     ## ##       ##     ##
##     ##  ##  ##     ##  ##  ##     ## ######   ########
##     ##  ##   ##   ##   ##  ##     ## ##       ##   ##
##     ##  ##    ## ##    ##  ##     ## ##       ##    ##
########  ####    ###    #### ########  ######## ##     ##
*/
.big-divider {
  width: 1160px;
  height: 2px;
  background-color: #efefef;
}
/*
 ######  ##       #### ######## ##    ## ########  ######
##    ## ##        ##  ##       ###   ##    ##    ##    ##
##       ##        ##  ##       ####  ##    ##    ##
##       ##        ##  ######   ## ## ##    ##     ######
##       ##        ##  ##       ##  ####    ##          ##
##    ## ##        ##  ##       ##   ###    ##    ##    ##
 ######  ######## #### ######## ##    ##    ##     ######
 */
.clients__list {
  list-style: none;
}

.clients_item img {
  opacity: 0.2;
}

.clients_item img:hover {
  opacity: 1;
}

.clients_item img:active {
  opacity: 0.1;
}

/*
 ######   #######  ##    ## ########    ###     ######  ########  ######
##    ## ##     ## ###   ##    ##      ## ##   ##    ##    ##    ##    ##
##       ##     ## ####  ##    ##     ##   ##  ##          ##    ##
##       ##     ## ## ## ##    ##    ##     ## ##          ##     ######
##       ##     ## ##  ####    ##    ######### ##          ##          ##
##    ## ##     ## ##   ###    ##    ##     ## ##    ##    ##    ##    ##
 ######   #######  ##    ##    ##    ##     ##  ######     ##     ######
 */
.contacts-info__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.contacts p {
  color: #666666;
  line-height: 18px;
}

.contacts__button {
  background-color: #fb565a;
  border: none;

  text-align: center;
  vertical-align: middle;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.contacts__button:hover,
.contacts__button:focus {
  background-color: #e74246;
}

.contacts__button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}
/*
 ######   #######   ######  ####    ###    ##
##    ## ##     ## ##    ##  ##    ## ##   ##
##       ##     ## ##        ##   ##   ##  ##
 ######  ##     ## ##        ##  ##     ## ##
      ## ##     ## ##        ##  ######### ##
##    ## ##     ## ##    ##  ##  ##     ## ##
 ######   #######   ######  #### ##     ## ########
 */
 .social__list {
  list-style: none;
}

.social__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.social__text {
  line-height: 22px;
  color: #444444;
}

.social {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
}

.social__list {
  display: flex;
  flex-wrap: wrap; /* защита от переполнения */
}
.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 79px;
  background: #e1e1e1;
  border-radius: 50%;
}

.social__texts {
  display: flex;
  flex-wrap: wrap; /* защита от переполнения */
  flex-basis: 800px;
  flex-direction: column;
}
/*
########     ###     ######  ##     ##
##     ##   ## ##   ##    ## ##     ##
##     ##  ##   ##  ##       ##     ##
##     ## ##     ##  ######  #########
##     ## #########       ## ##     ##
##     ## ##     ## ##    ## ##     ##
########  ##     ##  ######  ##     ##
*/
.red-dash {
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

/*
 ######     ###    ########    ###    ##        #######   ######       ##     ## ######## ##     ## ##
##    ##   ## ##      ##      ## ##   ##       ##     ## ##    ##      ##     ##    ##    ###   ### ##
##        ##   ##     ##     ##   ##  ##       ##     ## ##            ##     ##    ##    #### #### ##
##       ##     ##    ##    ##     ## ##       ##     ## ##   ####     #########    ##    ## ### ## ##
##       #########    ##    ######### ##       ##     ## ##    ##      ##     ##    ##    ##     ## ##
##    ## ##     ##    ##    ##     ## ##       ##     ## ##    ##  ### ##     ##    ##    ##     ## ##
 ######  ##     ##    ##    ##     ## ########  #######   ######   ### ##     ##    ##    ##     ## ########
  */

.main-header {
  width: 100%;
}

.main-header h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.filter fieldset {
  border:none;
}

.filter__list{
  list-style: none;
}

.legend__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.legend__title--0spacing {
  letter-spacing: 0px;
}

.filter__range {
  width: 261px;
  height: 81px;
  background-color: #eeeeee;
}

.cost {
  list-style: none;
}

.cost .filter__text {
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  text-transform: uppercase;
}

.grid__list {
  list-style: none;
  line-height: 40px;
}

.specials__list {
  list-style: none;
  line-height: 40px;
}

.filter__button {
  background-color: #eeeeee;
  border: none;

  font-size: 16px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.filter__button:hover,
.filter__button:focus {
  background-color: #dfdfdf;
}

.filter__button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;

  color: rgba(0, 0, 0, 0.3);
}

.order-form__list {
  list-style: none;
}

.order-form p {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.order-form__item {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.order-form__item--active {
  color: #000000;
}

.order-form__button--triangle {
  border: 0px rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
}

/*
 ######  ########    ###    ########   ######  ##     ##         ########  ########  ######  ##     ## ##       ########  ######
##    ## ##         ## ##   ##     ## ##    ## ##     ##         ##     ## ##       ##    ## ##     ## ##          ##    ##    ##
##       ##        ##   ##  ##     ## ##       ##     ##         ##     ## ##       ##       ##     ## ##          ##    ##
 ######  ######   ##     ## ########  ##       ######### ####### ########  ######    ######  ##     ## ##          ##     ######
      ## ##       ######### ##   ##   ##       ##     ##         ##   ##   ##             ## ##     ## ##          ##          ##
##    ## ##       ##     ## ##    ##  ##    ## ##     ##         ##    ##  ##       ##    ## ##     ## ##          ##    ##    ##
 ######  ######## ##     ## ##     ##  ######  ##     ##         ##     ## ########  ######   #######  ########    ##     ######
  */
.search-results__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 960px;
}

.search-results__item {
  display: flex;
  flex-direction: column;
}
.search-results__item:hover path {
  fill: #4C4C4C;
}

.search-results__list {
  list-style: none;
}

.search-results__item figcaption h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.search-results__item figcaption p {
  line-height: 18px;
  color: #666666;
  text-align: center;
}

.search-result__btn {
  background-color: #fb565a;
  border: none;

  text-align: center;
  vertical-align: middle;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.search-result__btn:hover,
.search-result__btn:focus {
  background-color: #e74246;
}

.search-result__btn:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

/*
########  #######   ######    ######   ##       ########
   ##    ##     ## ##    ##  ##    ##  ##       ##
   ##    ##     ## ##        ##        ##       ##
   ##    ##     ## ##   #### ##   #### ##       ######
   ##    ##     ## ##    ##  ##    ##  ##       ##
   ##    ##     ## ##    ##  ##    ##  ##       ##
   ##     #######   ######    ######   ######## ########
   */

.toggle__menu {
  list-style: none;
}

.toggle__menu-item a{
  color: #000000;
  background-color: #eeeeee;

  font-size: 16px;
  line-height: 18px;

  text-transform: uppercase;
  line-height: 18px;

}
.toggle__menu-item--active a{
  background-color: #ffffff;
  border: solid 3px #dbdbdb;

}

.toggle__menu-item a:hover,
.toggle__menu-item a:focus{
  background-color: #dfdfdf;
}
.toggle__menu-item a:active{
color: rgba(0, 0, 0, 0.3);
box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
background-color: #d5d5d5;
border: solid 0px #dbdbdb;
}

/* Классы для сетки на флексах */
/*
 ######      ###    ##       ##       ######## ########  ##    ##
##    ##    ## ##   ##       ##       ##       ##     ##  ##  ##
##         ##   ##  ##       ##       ##       ##     ##   ####
##   #### ##     ## ##       ##       ######   ########     ##
##    ##  ######### ##       ##       ##       ##   ##      ##
##    ##  ##     ## ##       ##       ##       ##    ##     ##
 ######   ##     ## ######## ######## ######## ##     ##    ##
*/
.slider-gallegy {
  display: flex;
  flex-wrap: wrap; /* защита от переполнения */
  flex-basis: 1440px;
  flex-direction: row;
}

.slider__item--left {
  flex-direction: column;
  flex-basis: 1440px;
}

.cards__list {
  display: flex;
  flex-basis: 1440px;
  flex-wrap: wrap; /* защита от переполнения */
}

.about-stats {
  display: flex;
  flex-basis: 1440px;

}
.about {
  flex-basis: 650px;
  margin-right: 149px;

}

.stats__list {
  display: flex;
  flex-basis: 360px;
  flex-wrap: wrap; /* защита от переполнения */
}

.clients__list {
  display: flex;
  flex-wrap: wrap; /* защита от переполнения */
  flex-basis: 1440px;
}

.contacts-info {
  display: flex;
  padding-left: 50px;
  background-color: #ffffff;
}

.contacts-info__button {
  background-color: #fb565a;
  border: none;

  text-align: center;
  vertical-align: middle;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.contacts-info__button:hover,
.contacts-info__button:focus {
  background-color: #e74246;
}

.contacts-info__button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

/*
##     ##  #######  ########     ###    ##
###   ### ##     ## ##     ##   ## ##   ##
#### #### ##     ## ##     ##  ##   ##  ##
## ### ## ##     ## ##     ## ##     ## ##
##     ## ##     ## ##     ## ######### ##
##     ## ##     ## ##     ## ##     ## ##
##     ##  #######  ########  ##     ## ########
*/
.modal--feedback h2 {
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.feedback-form__title {
  line-height: 18px;
  font-weight: 700;
}

.feedback-form__text {
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);
  padding-left: 10px;
  padding-right: 10px;

  width: 360px;
  height: 50px;
  border: solid 2px #d7dcde;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border-color: #000000;
  color: #000000;
}

.feedback-form__text input:focus {
  color: #000000;
}

.feedback-form__buttom{
  background-color: #fb565a;
  border: none;

  text-align: center;
  vertical-align: middle;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}

.feedback-form__buttom:hover,
.feedback-form__buttom:focus {
  background-color: #e74246;
}

.feedback-form__buttom:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.modal .feedback-form{
  flex-basis: 960px;
  display: flex;
  flex-direction: row;
}

.feedback-form label {
  padding-left: 100px;
  max-width: 360px;
  flex-shrink: 0;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

