/*
########   #######  ########  ##    ##
##     ## ##     ## ##     ##  ##  ##
##     ## ##     ## ##     ##   ####
########  ##     ## ##     ##    ##
##     ## ##     ## ##     ##    ##
##     ## ##     ## ##     ##    ##
########   #######  ########     ##
*/
body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
}
/*cбрасываем стили таблицы*/

.slider ul,
.advantage__wrapper ul,
.about ul,
.stats ul,
.clients__list,
.stats__list,
.grid ul,
.specials ul,
.order-form ul,
.search-results ul,
.pagination ul,
.toggle__menu {
  margin: 0;
  padding: 0;

  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*
##     ## ########    ###    ########  ######## ########
##     ## ##         ## ##   ##     ## ##       ##     ##
##     ## ##        ##   ##  ##     ## ##       ##     ##
######### ######   ##     ## ##     ## ######   ########
##     ## ##       ######### ##     ## ##       ##   ##
##     ## ##       ##     ## ##     ## ##       ##    ##
##     ## ######## ##     ## ########  ######## ##     ##
*/

.header {
  min-width: 1160px;
  min-height: 123px;

  background-color: #eeeeee;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1160px;

  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;

  margin: 0 auto;
}

.logo {
  display: block;
  width: 160px;
  height: 65px;
  padding-top: 49px;
}

.logo:active {
  opacity: 0.3;
}

.navigation {
  display: flex;
  padding-left: 100px;
}

.navigation__list {
  position: relative;

  display: flex;
  justify-content: space-between;
  width: 438px;
  padding-top: 75px;
  margin: 0;

  list-style: none;
}

.navigation__list a,
.cart {
  color: #000000;
}

.navigation__list a:hover,
.navigation__list a:focus{
  color: #fb565a;
}

.navigation__list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation__item--active::after {
  content: "";

  position: absolute;
  right: 132px;
  top: 108px;

  width: 74px;
  height: 2px;

  background-color: #fb565a;
}
/*Регение выше отвратительное, т.к. не сработает для остальных ссылок, для каждой нужно будет сделать такое, но обычным border-bottom у меня не получилось*/

.cart {
  position: relative;

  padding-top: 75px;
  padding-left: 286px;
}
.cart:hover,
.cart:focus{
  color: #fb565a;
}
.cart:active {
  color: rgba(0, 0, 0, 0.3);
}

.cart:before {
  content: url(../img/cart-icon.svg);

  position: absolute;
  right: 99px;
  top: 78px;

  width: 15px;
  height: 15px;
}
/*
 ######  ##       #### ########  ######## ########
##    ## ##        ##  ##     ## ##       ##     ##
##       ##        ##  ##     ## ##       ##     ##
 ######  ##        ##  ##     ## ######   ########
      ## ##        ##  ##     ## ##       ##   ##
##    ## ##        ##  ##     ## ##       ##    ##
 ######  ######## #### ########  ######## ##     ##
*/

.slider {
  display: flex;
  justify-content: center;
  min-width: 1160px;
  min-height: 413px;
  margin: 0 auto;

  background-color: #eeeeee;
}

.slider-wrapper {
  position: relative;

  display: flex;
  width: 1160px;
}

.slider-gallery {
  display: flex;

  list-style: none;
}

.slider__item {
  display: flex;
  min-height: 413px;
}

.slider__item h3 {
  min-width: 515px;
  padding-top: 14px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider__item p {
  max-width: 409px;
  padding-top: 10px;

  color: #283136;

}

.slider__item img {
  position: relative;
  right: 83px;
  top: 9px;

  display: block;
  width: 100%;
}


.slider__item--left {
  display: flex;
  flex-direction: row;
}

.slider__item--left h3 {
  margin-block-end:0px;
}

.slider__item a{
  vertical-align: middle;

  width: 240px;
  max-height: 50px;
  padding-top: 17px;
  padding-bottom: 16px;
  margin-bottom: 43px;
  margin-top: 23px;

  text-align: center;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.slider__item a:hover,
.slider__item a:focus {
  background-color: #e74246;
}

.slider__item a:active {
  color: rgba(255, 255, 255, 0.3);

  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.slider-switch {
  position: absolute;
  top: 255px;
  left: 555px;
  transform: rotate(-90deg);

  list-style: none;
}

.slider-switch__radio{
  display: none;
}

.slider-switch li:before {
  display: flex;
  content: '';
  width: 18px;
  height: 18px;
  margin: 16px;

  background-color:#ffffff;
  border: 1px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.slider-switch li:after {
  content: url(..//img/active-button.svg);

  position: absolute;
  top: 17px;
  right: 27px;

  width: 8px;
  height: 8px;

  opacity: 0.4;
}

/*
   ###    ########  ##     ##    ###    ##    ## ########
  ## ##   ##     ## ##     ##   ## ##   ###   ##    ##
 ##   ##  ##     ## ##     ##  ##   ##  ####  ##    ##
##     ## ##     ## ##     ## ##     ## ## ## ##    ##
######### ##     ##  ##   ##  ######### ##  ####    ##
##     ## ##     ##   ## ##   ##     ## ##   ###    ##
##     ## ########     ###    ##     ## ##    ##    ##
*/
.advantage {
  display: flex;
  width: 100%;
}

.advantage__wrapper {
  display: flex;
  flex-direction: row;
  width: 1160px;
  margin: 0 auto;
}

.advantage__list {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;

  list-style: none;
}

.advantage__item {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-top: 80px;
}
.advantage__item:first-child{
  padding-left: 0px;
}
.advantage__item h3 {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.advantage__item p {
  width: 250px;
  margin-block-start: -8px;

  font-size: 16px;
  line-height: 24px;
  color: #283136;
}
/*закрасим фон картинок если вдруг не загрузится*/
.advantage__img {
  width: 300px;
  height: 146px;

  background-color: #000000;
}

.advantage__item a{
  width: 160px;
  height: 32px;
  margin-top: 16px;
  padding-top: 18px;

  text-align: center;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;

}

.advantage__item a:hover,
.advantage__item a:focus {
  background-color: #e74246;
}

.advantage__item a:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.advantage__item:nth-of-type(2) a{
  background-color: #00ca74;
}

.advantage__item:nth-of-type(2) a:hover,
.advantage__item:nth-of-type(2) a:focus{
  background-color: #00bc6c;
}

.advantage__item:nth-of-type(2) a:active{
  color: rgba(255, 255, 255, 0.3);

  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #00aa62;
}

.advantage__item:nth-of-type(3) a {
  background-color: #efc84a;
}

.advantage__item:nth-of-type(3) a:hover
.advantage__item:nth-of-type(3) a:focus {
  background-color: #eab534;
}

.advantage__item:nth-of-type(3) a:active {
  color: rgba(255, 255, 255, 0.3);

  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #e5a722;
}
/*
   ###    ########   #######  ##     ## ########
  ## ##   ##     ## ##     ## ##     ##    ##
 ##   ##  ##     ## ##     ## ##     ##    ##
##     ## ########  ##     ## ##     ##    ##
######### ##     ## ##     ## ##     ##    ##
##     ## ##     ## ##     ## ##     ##    ##
##     ## ########   #######   #######     ##
*/

.about-stats {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1160px;
}



.about h3 {
  max-width: 650px;
  margin-block-start: 34px;
  margin-block-end: 34px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}


.about p {
  max-width: 616px;

  color: #283136;
}

.about__title {
  margin-block-start: 40px;
  margin-block-end: -10px;
  padding-bottom: 9px;

  font-weight: 700;
  text-transform: uppercase;
}
.about__list {
  position: relative;

  padding: 0px;
  padding-top: 9px;
  margin-top: -10px;

  list-style: none;
}
.about__item {
  padding-left: 35px;
}
.about__item:nth-child(1) {
  margin-top: 0px;
}
.about__item::before {
  content: "";

  position: relative;
  top: 20px;
  left: -35px;

  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.stats__list {
  padding-left: 0px;

  list-style: none;
}
.stats h3 {
  font-weight: 700;
  text-transform: uppercase;
}

.stats h4 {
  font-size: 45px;
  line-height: 10px;
}

.stats__item p {
  color: #283136;
  line-height: 18px;
}

.about {
  max-width: 960px;
}

.stats__list {
  display: flex;
  flex-basis: 360px;
  flex-wrap: wrap;
}
.stats__item h4 {
  margin-block-start: 34px;
  margin-block-end: 36px;
}

.stats__item p {
  width: 120px;
  margin-block-start:0px;
}

.procent-top {
  vertical-align: 15px;
  font-size: 26px;
}
.stats h3 {
  padding-top: 13px;
  padding-left: 18px;

  font-size: 16px;
  line-height: 24px;
}

.stats {
  padding-left: 120px
}
/*
########  #### ##     ## #### ########  ######## ########
##     ##  ##  ##     ##  ##  ##     ## ##       ##     ##
##     ##  ##  ##     ##  ##  ##     ## ##       ##     ##
##     ##  ##  ##     ##  ##  ##     ## ######   ########
##     ##  ##   ##   ##   ##  ##     ## ##       ##   ##
##     ##  ##    ## ##    ##  ##     ## ##       ##    ##
########  ####    ###    #### ########  ######## ##     ##
*/
.big-divider {
  display: flex;
  justify-content: center;
  width: 1160px;
  height: 2px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 40px;

  background-color: #efefef;
}
.big-divider2 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 62px;
  margin-bottom: 40px;
  width: 1160px;
  height: 2px;

  background-color: #efefef;
}
/*
 ######  ##       #### ######## ##    ## ########  ######
##    ## ##        ##  ##       ###   ##    ##    ##    ##
##       ##        ##  ##       ####  ##    ##    ##
##       ##        ##  ######   ## ## ##    ##     ######
##       ##        ##  ##       ##  ####    ##          ##
##    ## ##        ##  ##       ##   ###    ##    ##    ##
 ######  ######## #### ######## ##    ##    ##     ######
 */

.clients__list {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  margin: 0 auto;

  list-style: none;
}

.clients__list::after{
  content: "";

  width: 1160px;
  height: 2px;
  margin-top: 43px;
  margin-left: auto ;
  margin-right: auto;

  background-color: #efefef;
}

.small-divider{
  position: relative;
  width: 2px;
  height: 52px;

  background-color: #EFEFEF;
}

.small-divider__html {
  right: -15px;
}

.small-divider__borod {
  right: 25px;
}

.small-divider__pink {
  right: 41px;
}

.clients__item:last-child:after {
  background-color:transparent;
}

.clients__item img {
  opacity: 0.2;
}

.clients__item img:hover {
  opacity: 1;
}

.clients__item img:active {
  opacity: 0.1;
}

.clients__item--htmlac{
  position: relative;
  top: 10px;
  left: 32px;
}
.clients__item--borod {
  position: relative;
  top: 5px;
  left: -5px;
}

.clients__item--pink {
  position: relative;
  top: 5px;
  left: -33px;
}

.clients__item--mish {
  position: relative;
  top: 8px;
  left: -43px;
}

/*
 ######   #######  ##    ## ########    ###     ######  ########  ######
##    ## ##     ## ###   ##    ##      ## ##   ##    ##    ##    ##    ##
##       ##     ## ####  ##    ##     ##   ##  ##          ##    ##
##       ##     ## ## ## ##    ##    ##     ## ##          ##     ######
##       ##     ## ##  ####    ##    ######### ##          ##          ##
##    ## ##     ## ##   ###    ##    ##     ## ##    ##    ##    ##    ##
 ######   #######  ##    ##    ##    ##     ##  ######     ##     ######
 */

 .contacts {
   position: relative;

   display: flex;
   justify-content: center;
   margin-top: 80px;
   height: 416px;
 }

.contacts-map {
  min-width: 100%;
  margin: auto;
  width: 1160px;
  height: 413px;

  background-image: url(../img/2.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.contacts-map iframe{
  z-index: 2;

  width: 100%;
  height: 416px;
}

.contacts-info {
  position: absolute;
  top: 50px;

  display: flex;
  flex-direction: column;
  min-height: 308px;
  padding-left: 50px ;
  padding-right: 50px;
  margin-left: calc(50%);
  transform: translateX(-580px);

  background-color: white;
 }

.contacts-info__name {
  display: flex;
  padding-top: 48px;
  padding-bottom: 6px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.contacts-info p {
  padding-left: 2px;
  margin: 0;

  color: #666666;
  line-height: 18px;
}

.contacts-info__tel{
  color: #666666;
}


.contacts-info__button {
  width: 189px;
  padding: 8px 16px;
  margin-top: 36px;
  padding-top: 16px;
  padding-bottom: 16px;

  text-align: center;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.contacts-info__button:hover,
.contacts-info__button:focus {
  background-color: #e74246;
}

.contacts-info__button:active {
  color: rgba(255, 255, 255, 0.3);

  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}


.contacts-map__background {
  position: relative;

  display: flex;
  align-items: center;
  margin: 0 auto;
}
/* абсолютно отобразим pin на карте */
.contacts-map__pin {
  position: absolute;
  top: 89px;
  left: 820px;
}

.inner-page .contacts {
  margin-top: 59px;
}
/*
 ######   #######   ######  ####    ###    ##
##    ## ##     ## ##    ##  ##    ## ##   ##
##       ##     ## ##        ##   ##   ##  ##
 ######  ##     ## ##        ##  ##     ## ##
      ## ##     ## ##        ##  ######### ##
##    ## ##     ## ##    ##  ##  ##     ## ##
 ######   #######   ######  #### ##     ## ########
 */

 .social {
  display: flex;
  justify-content: center;
  max-width: 1160px;
  margin: 0 auto;
}

 .social__list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  justify-items: center;
  min-width: 260px;
  margin-top: 80px;
  padding: 0px;
  padding-left: 10px;

  list-style: none;
}

.social__title {
  display: block;
  padding-top: 75px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.social__text {
  display: block;
  padding-top: 100px;

  line-height: 22px;
  color: #444444;
}



.social__list {
  display: flex;
  flex-wrap: wrap; /* защита от переполнения */
  margin-top: 69px;
}
.social__item {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 79px;
  height: 79px;

  background: #e1e1e1;
  border-radius: 50%;
}

.social__item:hover,
.social__item:focus{
  background: #e74246;
}

.social__item:active{
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}
.social__item:active img{
  opacity: 0.3;
}
/*Пришлось использовать absolute для иконок соцсетей
  для pixel-perfect, через aling-items было криво*/
.social__vk {
  position: absolute;
  top: 30px;
  left: 27px;
}
.social__fb {
  position: absolute;
  top: 28px;
  left: 34px;
}
.social__in {
  position: absolute;
  top: 29px;
  left: 29px;
}

.social__title {
  margin-block-end: 0px;
  margin-block-start: 0px;
}

.social__slogan {
  display: flex;
  flex-wrap: wrap; /* защита от переполнения и перенос второго параграфа на след. строку*/
  flex-basis: 800px;
  margin-left: 140px ;
}
.social__text {
  padding-top: 0px;
  margin-top: 6px;
}

/*
 ######     ###    ########    ###    ##           ##     ## ######## ##     ##
##    ##   ## ##      ##      ## ##   ##           ##     ##    ##    ###   ###
##        ##   ##     ##     ##   ##  ##           ##     ##    ##    #### ####
##       ##     ##    ##    ##     ## ##           #########    ##    ## ### ##
##       #########    ##    ######### ##           ##     ##    ##    ##     ##
##    ## ##     ##    ##    ##     ## ##       ### ##     ##    ##    ##     ##
 ######  ##     ##    ##    ##     ## ######## ### ##     ##    ##    ##     ##
  */

.inner-page .header {
  min-height: 355px;
}

.header-title{
  display: flex;
  justify-content: center;
  max-height: 241px;
  margin-block-start: 0px;
  margin: 0px;
  padding-top: 78px;

  font-size: 55px;
  line-height: 55px;
}

/*
######## #### ##       ######## ######## ########
##        ##  ##          ##    ##       ##     ##
##        ##  ##          ##    ##       ##     ##
######    ##  ##          ##    ######   ########
##        ##  ##          ##    ##       ##   ##
##        ##  ##          ##    ##       ##    ##
##       #### ########    ##    ######## ##     ##
*/

.filters {
  display: flex;
  justify-content: center;
  min-width: 1160px;
  margin: 0 auto;
}

.filters fieldset {
  padding: 0px;
  margin: 0px;
  margin-bottom: 56px;

  border:none;
}

.filter {
  margin-top: 55px;
  width: 261px;
}

.filter ul {
  padding: 0px;
  margin: 0px;
}


.filter fieldset:nth-child(2) {
  margin-bottom:27px;
}
.filter fieldset:last-of-type{
  margin-bottom:32px;
}

/*Фильтр с ползунками-----------------------------------------------------------*/

.cost legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.18px;
  text-transform: uppercase;
}

.range-filter {
  width: 260px;
  margin-top: 34px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;
  border-radius: 5px;
}



.range-controls .bar {
  margin-left: 0%;
  width: 50%;
  height: 2px;

  background: #00ca74;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;

  cursor: pointer;
}

.range-controls .toggle--min {
  left: 10px;
}

.range-controls .toggle--max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filters {
  width: 260px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 51px;

  border: none;
}

.filter fieldset:first-child {
  margin-bottom: 35px;
}

.filter legend {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter ul {
  padding: 0;
  margin: 0;

  list-style: none;
  line-height: 20px;
}

.filter-grid {
  margin-bottom: 21px;
  padding-left: 35px;
}

.filter-grid label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-grid__input:hover + label,
.filter-grid__input:focus + label {
  color: #283136;
}

.filter-grid__input:disabled + label,
.filter-grid__input:disabled + label {
  color: rgba(40, 49, 54, 0.3);
}

.filter-grid__input--checkbox + label::before {
  content: "";

  position: absolute;
  left: -34px;
  top: 0;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-grid__input--checkbox:checked + label::before {
  content: "";

  position: absolute;
  top: 0px;
  left: -34px;

  width: 26px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}


.filter-grid__input--checkbox:hover:checked + label::before,
.filter-grid__input--checkbox:focus:checked + label::before,
.filter-grid__input--checkbox:hover + label::before,
.filter-grid__input--checkbox:focus + label::before {
  opacity: 1;
}

.filter-grid__input--radio + label::before {
  content: "";

  position: absolute;
  left: -34px;
  top: -1px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}
.filter-grid__input:disabled + label {
  color: #000000;

  opacity: 0.5;
}

.filter-grid__input--radio:checked + label::before {
  content: "";

  position: absolute;
  top: -1px;
  left: -34px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}


.filter-grid__input--radio:hover:checked + label::before,
.filter-grid__input--radio:focus:checked + label::before,
.filter-grid__input--radio:hover + label::before,
.filter-grid__input--radio:focus + label::before {
  opacity: 1;
}

/*Кнопка показать ------------------------------------------------------*/
.filter-button {
  width: 260px;
  height: 50px;

  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  line-height: 18px;
  color: #000000;

  background-color: #eeeeee;
  border: none;
  outline: none;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: rgba(0, 0, 0, 0.3);

  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}


/*Фильтр для группировки результатов --------------------------*/

.order-form {
  display: flex;
  justify-content: space-between;
  padding-top: 34px;
  padding-bottom: 33px;
}

.order-form__list {
  display: flex;

  list-style: none;
}


.order-form p {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.order-form__text {
  cursor: pointer;
}

.order-form__item {
  padding-top: 26px;
  padding-right: 30px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  cursor: pointer;
}
.order-form__item:nth-child(4){
  padding-right: 6px;

}
.order-form__item:last-child{
  padding-right: 0px;
}

.order-form__item{
  color: rgba(0, 0, 0, 0.3);
}
.order-form__button--triangle{
  opacity: 0.3;
}

input:checked + .order-form__text{
  color: #000000;
}

.order-form__item:hover,
.order-form__item:focus {
  color: rgba(0, 0, 0, 0.6)  ;
}

.order-form__button--triangle:hover,
.order-form__button--triangle:focus{
  opacity: 0.6;
}

.order-form__button--triangle:active{
  opacity: 1;
}

.order-form__button--triangle {
  border: 0px rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  outline: none;
}

/*
 ######  ########    ###    ########   ######  ##     ##
##    ## ##         ## ##   ##     ## ##    ## ##     ##
##       ##        ##   ##  ##     ## ##       ##     ##
 ######  ######   ##     ## ########  ##       #########
      ## ##       ######### ##   ##   ##       ##     ##
##    ## ##       ##     ## ##    ##  ##    ## ##     ##
 ######  ######## ##     ## ##     ##  ######  ##     ##
  */

.order-results {
  padding: 0px;
  margin: 0px;
  margin-left: 140px;
  width: 760px;
}
.search-results {
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
}

.search-results__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 33px;
  margin-left: 80px;
  min-width: 760px;
}

.search-results__item {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 360px;
  margin: 0px;
  margin-bottom: 18px;
}
.search-results__item:nth-child(2n) {
  margin-left: 40px;
}

.search-results__item:last-child{
  margin-bottom: 0px;
}

.search-results__figure {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 360px;
  margin: 0px;
  margin-bottom: 15px;
}


.search-results__figure--hover {
  position: absolute;
  bottom: 0px;

  display: none;
  width: 360px;

  background-color: #EFEFEF;
}

.search-results__item:hover .search-results__figure--hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  animation-name: fade-in;
  animation-duration: 0.4s;
}

.search-results__figure--hover h3{
  z-index: 5;
}

.search-results__figure--hover h3:hover,
.search-results__figure--hover h3:focus {
color: #fb565a;

cursor: pointer;
}

.search-results__figure--hover h3:active {
  color:  rgba(0, 0, 0, 0.3);

  cursor: pointer;
}

.search-results__item:hover path {
  fill: #4C4C4C;
}

.search-results__list {
  margin: 0px;
  padding: 0px;
  width: 800px;

  list-style: none;
}

.search-results__item h3 {
  padding-top: 9px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.search-results__item p {
  width: 200px;

  line-height: 18px;
  color: #666666;
  text-align: center;
}

.search-result__btn {
  z-index: 3;

  width: 200px;
  height: 50px;
  vertical-align: middle;
  margin-top: 11px;
  margin-bottom: 43px;

  text-align: center;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;

}

.search-result__btn:hover,
.search-result__btn:focus {
  background-color: #e74246;
}

.search-result__btn:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*
########  #######   ######    ######   ##       ########
   ##    ##     ## ##    ##  ##    ##  ##       ##
   ##    ##     ## ##        ##        ##       ##
   ##    ##     ## ##   #### ##   #### ##       ######
   ##    ##     ## ##    ##  ##    ##  ##       ##
   ##    ##     ## ##    ##  ##    ##  ##       ##
   ##     #######   ######    ######   ######## ########
   */


.toggle__menu {
  display: flex;
  margin-left: 0px;
  margin-top: 28px;

  list-style: none;
}

.toggle__menu-item {
  margin-right: 11px;
}

.toggle__menu-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;

  color: #000000;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;

  background-color: #eeeeee;
  border-radius: 3px;
}

.toggle__menu-item--active a{
  width: 44px;
  height: 44px;

  background-color: #ffffff;
  border: 3px solid #dbdbdb;
  border-radius: 3px;
}

.toggle__menu-item--next a{
  width: 260px;
}

.toggle__menu a:hover,
.toggle__menu a:focus{
  background-color: #dfdfdf;
}

.toggle__menu a:active{
color: rgba(0, 0, 0, 0.3);

box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
background-color: #d5d5d5;
}

/* Классы для сетки на флексах */
/*
 ######      ###    ##       ##       ######## ########  ##    ##
##    ##    ## ##   ##       ##       ##       ##     ##  ##  ##
##         ##   ##  ##       ##       ##       ##     ##   ####
##   #### ##     ## ##       ##       ######   ########     ##
##    ##  ######### ##       ##       ##       ##   ##      ##
##    ##  ##     ## ##       ##       ##       ##    ##     ##
 ######   ##     ## ######## ######## ######## ##     ##    ##
*/
.slider {
  min-height: 423px;
}

.slider-gallegy {
  display: flex;
  flex-wrap: wrap; /* защита от переполнения */
  flex-basis: 1440px;
  flex-direction: row;
}

.slider__item--left {
  flex-direction: column;
  flex-basis: 1180px;
}

.cards__list {
  display: flex;
  flex-basis: 1180px;
  flex-wrap: wrap; /* защита от переполнения */
}

.clients__list {
  display: flex;
  flex-wrap: wrap; /* защита от переполнения */
  flex-basis: 1180px;
}

.contacts-info__button {
  text-align: center;
  vertical-align: middle;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  outline: none;

  background-color: #fb565a;
  border: none;
}

.contacts-info__button:hover,
.contacts-info__button:focus {
  background-color: #e74246;
}

.contacts-info__button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
  outline: none;
}

/*
##     ##  #######  ########     ###    ##
###   ### ##     ## ##     ##   ## ##   ##
#### #### ##     ## ##     ##  ##   ##  ##
## ### ## ##     ## ##     ## ##     ## ##
##     ## ##     ## ##     ## ######### ##
##     ## ##     ## ##     ## ##     ## ##
##     ##  #######  ########  ##     ## ########
*/

.modal-feedback {
  position: fixed;
  top: 50%;
  right: 50%;
  z-index: 4;

  display: none;
  width: 960px;
  height: 590px;
  margin-top: -295px;
  margin-right: -480px; /* не pixel-perfect, но зато середина( смещение на половину ширины формы)*/

  background-color: #ffffff;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.modal-show {
  display: block;

  animation-name: modal-up;
  animation-duration: 0.4s;
}

.modal-feedback h2 {
  padding-left: 100px;
  margin-top: 68px;

  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.feedback-form label {
  line-height: 18px;
  font-weight: 700;
}

/*ниже возможно все input стоит переделать с box-sizing: border-box, хотя бы в форке, чтобы понять по размерам*/

.feedback-form__name {
  padding-left: 12px;
  padding-right: 10px;
  width: 334px;
  height: 44px;
  margin-top: 9px;

  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);

  border: solid 2px #d7dcde;
}



.feedback-form__mail {
  width: 334px;
  height: 44px;
  padding-left: 12px;
  padding-right: 10px;
  margin-top: 9px;

  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);

  border: solid 2px #d7dcde;
}

.feedback-form__text {
  width: 734px;
  height: 101px;
  margin-top: 9px;
  padding-left: 12px;
  padding-right: 10px;
  padding-top:11px;

  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);

  border: solid 2px #d7dcde;
}

.feedback-form div:first-child{
  margin-left: 102px;
  margin-top: 4px;
}

.feedback-form div:nth-child(2){
  margin-left: 40px;
  margin-top: 4px;
}

.feedback-form div:nth-child(3){
  margin-left: 102px;
  margin-top: 34px;
}

.feedback-form input:hover,
.feedback-form input:focus,
.feedback-form textarea:hover,
.feedback-form textarea:focus{
  border: solid 2px #b4b9bb;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  color: #000000;

  border-color: #000000;
  outline: none;
}

.feedback-form__text input:focus {
  color: #000000;
}

.feedback-form__buttom{
  width: 260px;
  height: 50px;
  margin-left: 102px;
  margin-top: 47px;
  padding-right: -1px;
  vertical-align: middle;

  text-align: center;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  outline: none;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.feedback-form__buttom:hover,
.feedback-form__buttom:focus {
  background-color: #e74246;
}

.feedback-form__buttom:active {
  color: rgba(255, 255, 255, 0.3);

  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.feedback-form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: 960px;
}

.feedback-form label {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 360px;
}

.feedback-form label:nth-child(2) {
  margin-left: 40px;
}

/*Кнопка закрытия всплывающего окна ----------------------------------------------*/
.feedback-close{
  position: absolute;
  top: 68px;
  left: 840px;

  width: 22px;
  height: 22px;

  font-size: 0;

  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}

.feedback-close::before{
  content: url(../img/close-cross.svg);

  position: absolute;

  width: 21px;
  height: 21px;

  opacity: 0.3;
}

.feedback-close:hover::before,
.feedback-close:focus::before {
  opacity: 1;
}

.feedback-close:active::before {
  opacity: 0.1;
}

/*Анимация для всплывающего окна---------------------------*/

@keyframes modal-up{
  0% {
    transform: translateY(1000px);
  }
  70% {
    transform: translateY(-5px);
  }
  90% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
